.photo-grid {
    display: grid;
    max-width: 100%;
    margin: 88px 48px 0 48px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        margin-top: 80px;
        width: 93.75%;
        row-gap: 18px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        margin-top: 64px;
        width: 95%;
        grid-template-columns: 1fr;
        gap: 12px;
    }
}