.lang-links {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: calc(29px + 30px + 18px);
}

@media screen and (max-width: 767px) {
    .lang-links {
        width: calc(22px + 22px + 18px);
    }
}