.place {
    display: grid;
    max-width: 984px;
    grid-template-columns: minmax(220px, 460px), 1fr;
    grid-template-rows: 2, minmax(145px, 1fr);
    justify-items: start;
    margin: 0;
    margin-bottom: 80px;
    width: 100%;
}

.place:last-of-type {
    margin-bottom: 0px;
}

@media screen and (max-width: 1023px) {
    .place {
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
}