.footer {
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 92px 48px 0 48px;
    padding-bottom: 24px;
}

@media screen and (max-width: 1023px) {
    .footer {
        margin: 88px 24px 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        justify-content: flex-start;
        max-width: 186px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        margin: 64px auto 0 16px;
    }
}